@layer components {
    .btn-base,
    .btn {
      @apply
        text-bold-md justify-center box-border rounded flex items-center cursor-pointer select-none
        w-full sm:w-auto min-w-[172px] sm:max-w-[288px] border-transparent border
        disabled:text-white disabled:!bg-grey-200 disabled:!border-none disabled:cursor-not-allowed overflow-hidden;
    }

    .tsf-focus {
        @apply focus:outline focus:outline-primary-500 focus:outline-2 focus:outline-offset-2;
    }

    .btn-sm { @apply btn-base text-bold-md px-3 !leading-[0.875rem] h-8; }
    .btn-md { @apply btn-base text-bold-md px-3 !leading-[1rem] h-10; }
    .btn-lg { @apply btn-base text-bold-md px-3 !leading-[1.25rem] h-12; }
    .btn-inline { @apply !inline-flex btn-base text-bold-md px-1 h-5; }

    .btn-icon-left  { @apply justify-start before:text-body-lg before:font-symbol before:align-middle before:pr-1 before:max-h-5 before:flex before:items-center before:!leading-[14px]; }
    .btn-icon-right { @apply justify-start after:text-body-lg after:font-symbol after:align-middle after:pl-1 after:max-h-5 after:flex after:items-center after:!leading-[14px]; }

    .btn-sponsor {
        @apply text-blue-900
        bg-sky-500
        hover:bg-sky-100
        active:bg-sky-50
        focus:bg-sky-100 focus:outline focus:outline-sky-100 focus:outline-2 focus:outline-offset-2 shadow-md;
    }

    .btn-donate {
        @apply text-white
        bg-red-700
        hover:bg-red-800
        active:bg-red-900
        focus:bg-red-800 focus:outline focus:outline-red-800 focus:outline-2 focus:outline-offset-2
        btn-icon-right flex !justify-center after:content-['volunteer\_activism'] shadow-md;
    }

    .btn-pri,
    .btn-generic {
        @apply text-white
        bg-primary-500
        hover:bg-primary-700
        active:bg-primary-700
        focus:bg-primary-700 tsf-focus shadow-md;
    }

    .btn-sec,
    .btn-generic-sec {
        @apply text-primary-500 border-primary-500 border bg-white
        hover:bg-secondary-100
        active:bg-secondary-50
        focus:bg-secondary-100 tsf-focus shadow-md;
    }

    .btn-ter,
    .btn-tertiary {
        @apply text-primary-500 bg-white
        hover:bg-secondary-100
        active:bg-secondary-50
        focus:bg-secondary-100 tsf-focus;
    }

    .btn-east-rt {
      --tw-content: 'east';
        @apply btn-icon-right after:content-['east']
        after:transition hover:after:translate-x-1;
    }
    .btn-ter-east-rt {
      --tw-content: 'east';
        @apply btn-ter btn-icon-right !justify-start after:content-['east']
        after:transition hover:after:translate-x-1;
    }
    .btn-ter-west-lt {
      --tw-content: 'west';
        @apply btn-ter btn-icon-left !justify-start before:content-['west']
        before:transition hover:before:-translate-x-1;
    }
    .btn-sec-east-rt {
      --tw-content: 'east';
        @apply btn-sec btn-icon-right !justify-start after:content-['east']
        after:transition hover:after:translate-x-1
    }

    .btn-person-lt { @apply btn-base btn-icon-left before:content-['person']}
    .btn-search-lt { @apply btn-base btn-icon-left before:content-['search']}
    .btn-person-rt { @apply btn-base btn-icon-right after:content-['person']}
    .btn-sec-phone-rt { @apply btn-sec btn-icon-right after:content-['phone']}
    .btn-sec-help-rt { @apply btn-sec btn-icon-right after:content-['help']}
    .btn-sec-error-rt { @apply btn-sec btn-icon-right after:content-['error']}
    .btn-pri-arrow_downward-rt { @apply btn-pri btn-icon-right after:content-['arrow\_downward']}
    .btn-logout-lt { @apply btn-base btn-icon-left before:content-['logout']}

    .btn-generic-pdf, .btn-generic-pdf-sec, .btn-sec-download-rt { @apply btn-base btn-sec btn-icon-right after:content-['download']}
    .btn-ter-search-lt { @apply btn-base btn-ter btn-icon-left before:content-['search']}

    .btn-slide {
        @apply
        relative flex items-center select-none text-primary-900 px-1 py-2
        after:content-['_'] after:absolute after:left-1 after:right-1 after:bottom-2 after:h-[0.9px] after:opacity-0 after:box-content after:pr-1.5 after:bg-primary-900 after:transform after:scale-x-0 after:transition-all after:ease-out after:duration-500 after:origin-left
        before:font-symbol before:text-body-md before:!text-[18px] before:align-middle before:pr-1 before:!leading-[24px]
        hover:after:scale-x-100 hover:after:opacity-100 outline-primary-500;
    }

    .btn-forbidden {
      cursor: not-allowed !important;
    }

    .btn-link {
      @apply px-0;
    }
}
