@layer components {
  .tsf-radio-card {
    @apply relative text-bold-md p-4 rounded-lg *:cursor-pointer cursor-pointer select-none w-full
      hover:bg-secondary-50
      has-[:checked]:bg-secondary-100 has-[:checked]:text-primary-900
      focus-within:bg-secondary-100;
  }
  .tsf-radio-card > input {
    @apply appearance-none absolute top-0 w-full left-0 h-full rounded-lg border border-grey-300
        hover:border-primary-500
        tsf-focus checked:border-primary-500;
  }

  .tsf-radio-input {
    @apply appearance-none cursor-pointer w-4 h-4 my-0.5 rounded-full
      border border-grey-300 checked:border-[5px] checked:border-primary-700
      hover:outline-4 hover:outline hover:outline-offset-0 hover:outline-secondary-100
      focus:outline focus:outline-primary-500 focus:outline-2 focus:outline-offset-2 focus:hover:ring-2 ring-offset-0 ring-secondary-100;
  }

  .tsf-field-error {
    @apply tsf-focus text-bold-md flex items-start text-red-500 before:text-body-lg before:leading-5 before:content-['error'] before:font-symbol before:pr-1 before:text-red-500;
  }

  .tsf-checkbox-input {
    @apply appearance-none
      border
      border-grey-300
      box-border
      cursor-pointer
      rounded
      relative
      size-4
      tsf-focus
      checked:bg-primary-700
      invalid:border-red-500
      hover:shadow-[0_0_0_0.25rem_#D9F5FF];
  }

  .tsf-checkbox-input-error {
    @apply border-red-500;
  }

  .tsf-checkbox-input:checked::after {
    @apply absolute
      border-b-[0.15rem]
      border-r-[0.15rem]
      border-solid
      border-white
      inline-block
      h-[0.6rem]
      left-[0.315rem]
      top-1/2
      w-[0.3rem];
    content: "";
    transform: translateY(-60%) rotate(45deg);
  }
}
